In [134]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = ""

In [1]:
import pandas as pd

In [30]:
negative_tweets_df = pd.read_csv('training.1600000.processed.noemoticon.csv', 
                                 nrows=500,
                                 header=None)
negative_tweets_df.head()

   0  ...                                                  5
0  0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  0  ...  is upset that he can't update his Facebook by ...
2  0  ...  @Kenichan I dived many times for the ball. Man...
3  0  ...    my whole body feels itchy and like its on fire
4  0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [43]:
positive_tweets_df = pd.read_csv('training.1600000.processed.noemoticon.csv', 
                                 skiprows=1599500, 
                                 nrows=500,
                                 header=None)
positive_tweets_df.head()

   0  ...                                                  5
0  4  ...  Sitting in a meeting with my mom &amp; grandmo...
1  4  ...                           getting used to twitter
2  4  ...  @AwesomeRobot hackorz! thats teh illegalz! oh ...
3  4  ...  @mervlai Wilde? A brilliant 19th century write...
4  4  ...  I Love @Pink She is AMAZIN..My favourite singe...

[5 rows x 6 columns]

In [46]:
import re

def remove_urls(tweet):
  return re.sub(r'www\.\S+|https?://\S+', '', tweet)

def remove_html_character_entities(tweet):
  return re.sub(r'&[a-zA-Z]+;', '', tweet)

def remove_at_mentions(tweet):
  return re.sub(r'@\S+', '', tweet)

def remove_non_alpha_or_space_characters(tweet):        
    return re.sub(r'[^a-zA-Z\s]', '', tweet)

def remove_short_words(tweet):
  return re.sub(r'\b\w{1,2}\b', '', tweet)

def preprocess_tweet(tweet):
  tweet = remove_urls(tweet)
  tweet = remove_html_character_entities(tweet)
  tweet = remove_at_mentions(tweet)
  tweet = remove_non_alpha_or_space_characters(tweet)
  return remove_short_words(tweet)

In [47]:
positive_tweets = positive_tweets_df.iloc[:,-1]
positive_tweets

0      Sitting in a meeting with my mom &amp; grandmo...
1                               getting used to twitter
2      @AwesomeRobot hackorz! thats teh illegalz! oh ...
3      @mervlai Wilde? A brilliant 19th century write...
4      I Love @Pink She is AMAZIN..My favourite singe...
                             ...
495    Just woke up. Having no school is the best fee...
496    TheWDB.com - Very cool to hear old Walt interv...
497    Are you ready for your MoJo Makeover? Ask me f...
498    Happy 38th Birthday to my boo of alll time!!! ...
499    happy #charitytuesday @theNSPCC @SparksCharity...
Name: 5, Length: 500, dtype: object

In [48]:
positive_tweets = positive_tweets.apply(preprocess_tweet)
positive_tweets

0      Sitting   meeting with  mom  grandmother regua...
1                                 getting used  twitter
2           hackorz thats teh illegalz  noes  howd you
3       Wilde  brilliant  century writerpoet Harpers ...
4       Love  She  AMAZINMy favourite singerI Only ju...
                             ...
495    Just woke  Having  school  the best feeling ever
496    TheWDBcom  Very cool  hear old Walt interviews
497    Are you ready for your MoJo Makeover Ask  for ...
498    Happy  Birthday   boo  alll time Tupac Amaru S...
499                             happy charitytuesday
Name: 5, Length: 500, dtype: object

In [49]:
negative_tweets = negative_tweets_df.iloc[:,-1]
negative_tweets

0      @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      is upset that he can't update his Facebook by ...
2      @Kenichan I dived many times for the ball. Man...
3        my whole body feels itchy and like its on fire
4      @nationwideclass no, it's not behaving at all....
                             ...
495                      @Brodhe geez ur no fun are you
496                I wanna be in a punk rock band again
497    @jyesmith That's a lot of angst for a Tuesday ...
498    I'm very glad Britney isn't crazy anymore! Tha...
499        has a huuuge headache! omg I feel like crap!
Name: 5, Length: 500, dtype: object

In [50]:
negative_tweets = negative_tweets.apply(preprocess_tweet)
negative_tweets

0         Awww thats  bummer  You shoulda got David C...
1       upset that  cant update his Facebook  texting...
2        dived many times for the ball Managed  save ...
3             whole body feels itchy and like its  fire
4        its not behaving  all  mad why   here becaus...
                             ...
495                                  geez   fun are you
496                       wanna    punk rock band again
497            Thats  lot  angst for  Tuesday afternoon
498     very glad Britney isnt crazy anymore That was...
499            has  huuuge headache omg  feel like crap
Name: 5, Length: 500, dtype: object

In [82]:
all_training_tweets = pd.concat([negative_tweets, positive_tweets], ignore_index=True)
all_training_tweets_df = pd.DataFrame(all_training_tweets)

In [85]:
neg_labels = pd.Series([0]).repeat(500)
pos_labels = pd.Series([4]).repeat(500)
all_training_labels = pd.concat([neg_labels, pos_labels], ignore_index=True)
all_training_labels

0      0
1      0
2      0
3      0
4      0
      ..
995    4
996    4
997    4
998    4
999    4
Length: 1000, dtype: int64

In [86]:
all_training_tweets_df = all_training_tweets_df.assign(labels=all_training_labels)
all_training_tweets_df.tail()

                                                     5  labels
995  Just woke  Having  school  the best feeling ever        4
996  TheWDBcom  Very cool  hear old Walt interviews          4
997  Are you ready for your MoJo Makeover Ask  for ...       4
998  Happy  Birthday   boo  alll time Tupac Amaru S...       4
999                           happy charitytuesday           4

In [87]:
from sklearn.utils import shuffle

all_training_tweets_df = shuffle(all_training_tweets_df)
all_training_tweets_df.reset_index(inplace=True, drop=True)

In [88]:
all_training_tweets_df.head()

                                                   5  labels
0  Waiting  the airport for  ride while  get hara...       0
1   theres this brilliant addon for firefox calle...       4
2  Grr  want  keep reading but     wont have anyt...       0
3  and  course  have access   Halo  Mythic Map Pa...       0
4   GAMINGGG  BUDDDYY  dllll  shoo  love you LOVEYOU       4

In [89]:
all_training_tweets_df.tail()

                                                     5  labels
995  just got off work  exhausted worked real hard ...       4
996                                  glad  doing well        4
997  This week just seems  get longer and longer  t...       0
998    seriously needs  finish these job applications        0
999                                happy birthday sir        4

In [106]:
# Didn't work in Colab, but seemed to work on local machine
# from nltk.corpus import stopwords
# stopwords.words('english')

import nltk
nltk.download('stopwords')
type(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

list

In [133]:
pip install --upgrade scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.8MB 2.5MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.17.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.23.2 threadpoolctl-2.1.0

In [119]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

text_classifier = Pipeline([
  ('vectorizer', HashingVectorizer(stop_words=stopwords.words('english'),
                                   alternate_sign=False)),
  ('tfidf_transformer', TfidfTransformer()),
  ('classifier', MultinomialNB()),
])

In [120]:
from sklearn.model_selection import GridSearchCV

# part before double underscore needs to be same as classifier name
# See https://stackoverflow.com/questions/48271342/invalid-parameter-clf-for-estimator-pipeline-in-sklearn
parameters = {      
  'classifier__alpha': (1e-2, 1e-3), 
}

grid_search_classifier = GridSearchCV(text_classifier, parameters, cv=2, n_jobs=-2)

In [121]:
all_training_tweets_df.iloc[:,1]

0      0
1      4
2      0
3      0
4      4
      ..
995    4
996    4
997    0
998    0
999    4
Name: labels, Length: 1000, dtype: int64

In [122]:
import time

training_samples = all_training_tweets_df.iloc[:,0] 
training_labels = all_training_tweets_df.iloc[:,1]
tic = time.perf_counter()
grid_search_classifier = grid_search_classifier.fit(training_samples, training_labels)
toc = time.perf_counter()
print(f"Took {toc - tic:0.4f} seconds to fit classifer on data")

Took 0.9367 seconds to fit classifer on data

In [123]:
for key in grid_search_classifier.cv_results_:
  print(key)

mean_fit_time
std_fit_time
mean_score_time
std_score_time
param_classifier__alpha
params
split0_test_score
split1_test_score
mean_test_score
std_test_score
rank_test_score

In [124]:
print(f"Best score: {grid_search_classifier.best_score_}")

Best score: 0.607

In [125]:
best_estimator = grid_search_classifier.best_estimator_

In [126]:
import pickle

with open('best_test_NB_clf_sentiment_140.pkl', 'wb') as f:
  pickle.dump(best_estimator, f)

In [129]:
with open('test_grid_search_NB_sentiment140.pkl', 'wb') as f:
  pickle.dump(grid_search_classifier, f)