In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [8]:
path = "/content/drive/My Drive/Colab Notebooks/data/training.1600000.processed.noemoticon.csv"

In [10]:
entire_sentiment140_df = pd.read_csv(path, header=None, encoding="latin")

In [27]:
some_negative_tweets_df = entire_sentiment140_df.head(500)
some_negative_tweets_df

     0  ...                                                  5
0    0  ...     Awww thats  bummer  You shoulda got David C...
1    0  ...   upset that  cant update his Facebook  texting...
2    0  ...    dived many times for the ball Managed  save ...
3    0  ...         whole body feels itchy and like its  fire
4    0  ...    its not behaving  all  mad why   here becaus...
..  ..  ...                                                ...
495  0  ...                                geez   fun are you
496  0  ...                     wanna    punk rock band again
497  0  ...          Thats  lot  angst for  Tuesday afternoon
498  0  ...   very glad Britney isnt crazy anymore That was...
499  0  ...          has  huuuge headache omg  feel like crap

[500 rows x 6 columns]

In [28]:
some_positive_tweets_df = entire_sentiment140_df.tail(500)
some_positive_tweets_df

         0  ...                                                  5
1599500  4  ...  Sitting   meeting with  mom  grandmother regua...
1599501  4  ...                             getting used  twitter
1599502  4  ...       hackorz thats teh illegalz  noes  howd you
1599503  4  ...   Wilde  brilliant  century writerpoet Harpers ...
1599504  4  ...   Love  She  AMAZINMy favourite singerI Only ju...
...     ..  ...                                                ...
1599995  4  ...  Just woke  Having  school  the best feeling ever
1599996  4  ...  TheWDBcom  Very cool  hear old Walt interviews
1599997  4  ...  Are you ready for your MoJo Makeover Ask  for ...
1599998  4  ...  Happy  Birthday   boo  alll time Tupac Amaru S...
1599999  4  ...                           happy charitytuesday

[500 rows x 6 columns]

In [20]:
import re

def remove_urls(tweet):
  return re.sub(r'www\.\S+|https?://\S+', '', tweet)

def remove_html_character_entities(tweet):
  return re.sub(r'&[a-zA-Z]+;', '', tweet)

def remove_at_mentions(tweet):
  return re.sub(r'@\S+', '', tweet)

def remove_non_alpha_or_space_characters(tweet):        
    return re.sub(r'[^a-zA-Z\s]', '', tweet)

def remove_short_words(tweet):
  return re.sub(r'\b\w{1,2}\b', '', tweet)

def preprocess_tweet(tweet):
  tweet = remove_urls(tweet)
  tweet = remove_html_character_entities(tweet)
  tweet = remove_at_mentions(tweet)
  tweet = remove_non_alpha_or_space_characters(tweet)
  return remove_short_words(tweet)

In [30]:
some_negative_tweets_df[5] = some_negative_tweets_df[5].map(preprocess_tweet)
some_negative_tweets_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     0  ...                                                  5
0    0  ...     Awww thats  bummer  You shoulda got David C...
1    0  ...   upset that  cant update his Facebook  texting...
2    0  ...    dived many times for the ball Managed  save ...
3    0  ...         whole body feels itchy and like its  fire
4    0  ...    its not behaving  all  mad why   here becaus...
..  ..  ...                                                ...
495  0  ...                                geez   fun are you
496  0  ...                     wanna    punk rock band again
497  0  ...          Thats  lot  angst for  Tuesday afternoon
498  0  ...   very glad Britney isnt crazy anymore That was...
499  0  ...          has  huuuge headache omg  feel like crap

[500 rows x 6 columns]

In [31]:
some_positive_tweets_df[5] = some_positive_tweets_df[5].map(preprocess_tweet)
some_positive_tweets_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         0  ...                                                  5
1599500  4  ...  Sitting   meeting with  mom  grandmother regua...
1599501  4  ...                             getting used  twitter
1599502  4  ...       hackorz thats teh illegalz  noes  howd you
1599503  4  ...   Wilde  brilliant  century writerpoet Harpers ...
1599504  4  ...   Love  She  AMAZINMy favourite singerI Only ju...
...     ..  ...                                                ...
1599995  4  ...  Just woke  Having  school  the best feeling ever
1599996  4  ...  TheWDBcom  Very cool  hear old Walt interviews
1599997  4  ...  Are you ready for your MoJo Makeover Ask  for ...
1599998  4  ...  Happy  Birthday   boo  alll time Tupac Amaru S...
1599999  4  ...                           happy charitytuesday

[500 rows x 6 columns]

In [32]:
all_training_tweets_df = pd.concat([some_negative_tweets_df, some_positive_tweets_df], ignore_index=True)
all_training_tweets_df

     0  ...                                                  5
0    0  ...     Awww thats  bummer  You shoulda got David C...
1    0  ...   upset that  cant update his Facebook  texting...
2    0  ...    dived many times for the ball Managed  save ...
3    0  ...         whole body feels itchy and like its  fire
4    0  ...    its not behaving  all  mad why   here becaus...
..  ..  ...                                                ...
995  4  ...  Just woke  Having  school  the best feeling ever
996  4  ...  TheWDBcom  Very cool  hear old Walt interviews
997  4  ...  Are you ready for your MoJo Makeover Ask  for ...
998  4  ...  Happy  Birthday   boo  alll time Tupac Amaru S...
999  4  ...                           happy charitytuesday

[1000 rows x 6 columns]

In [33]:
pip install --upgrade scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.8MB 2.7MB/s
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.17.0)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.23.2 threadpoolctl-2.1.0

In [34]:
from sklearn.utils import shuffle

all_training_tweets_df = shuffle(all_training_tweets_df)
all_training_tweets_df.reset_index(inplace=True, drop=True)
all_training_tweets_df

     0  ...                                                  5
0    4  ...        hiking the indian council cave trail today
1    0  ...  Argh  was suuuper sleepy  hour ago now  wide a...
2    0  ...                             the suns already gone
3    0  ...                          Aaaaand the nausea  back
4    0  ...    cuuute hey  miss you   its not the same not ...
..  ..  ...                                                ...
995  0  ...  Going  school soon cant find anything  wear go...
996  4  ...             drive through rainbows   pretty pretty
997  4  ...                                  hours   and then
998  4  ...                           cant wait for born  run
999  4  ...                         for now   Queen Spindeezy

[1000 rows x 6 columns]

In [40]:
# Didn't work in Colab initially; but later it did; I think it was to do w/ old version of sklearn
from nltk.corpus import stopwords
#stopwords.words('english')

# import nltk
# nltk.download('stopwords')

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

text_classifier = Pipeline([
  ('vectorizer', HashingVectorizer(stop_words=stopwords.words('english'),
                                   alternate_sign=False)),
  ('tfidf_transformer', TfidfTransformer()),
  ('classifier', MultinomialNB()),
])

In [42]:
from sklearn.model_selection import GridSearchCV

# part before double underscore needs to be same as classifier name
# See https://stackoverflow.com/questions/48271342/invalid-parameter-clf-for-estimator-pipeline-in-sklearn
parameters = {      
  'classifier__alpha': (1e-2, 1e-3), 
}

grid_search_classifier = GridSearchCV(text_classifier, parameters, cv=2, n_jobs=-2)

In [45]:
import time

training_samples = all_training_tweets_df.iloc[:,-1] 
training_labels = all_training_tweets_df.iloc[:,0]
tic = time.perf_counter()
grid_search_classifier = grid_search_classifier.fit(training_samples, training_labels)
toc = time.perf_counter()
print(f"Took {toc - tic:0.4f} seconds to fit classifer on data")

Took 0.9880 seconds to fit classifer on data

In [46]:
print(f"Best score: {grid_search_classifier.best_score_}")

Best score: 0.613

In [48]:
import pickle
with open('test_grid_search_NB_clf_sentiment140.pkl', 'wb') as f:
  pickle.dump(grid_search_classifier, f)