In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [8]:
path = "/content/drive/My Drive/Colab Notebooks/data/training.1600000.processed.noemoticon.csv"

In [10]:
entire_sentiment140_df = pd.read_csv(path, header=None, encoding="latin")

In [20]:
import re

def remove_urls(tweet):
  return re.sub(r'www\.\S+|https?://\S+', '', tweet)

def remove_html_character_entities(tweet):
  return re.sub(r'&[a-zA-Z]+;', '', tweet)

def remove_at_mentions(tweet):
  return re.sub(r'@\S+', '', tweet)

def remove_non_alpha_or_space_characters(tweet):        
    return re.sub(r'[^a-zA-Z\s]', '', tweet)

def remove_short_words(tweet):
  return re.sub(r'\b\w{1,2}\b', '', tweet)

def preprocess_tweet(tweet):
  tweet = remove_urls(tweet)
  tweet = remove_html_character_entities(tweet)
  tweet = remove_at_mentions(tweet)
  tweet = remove_non_alpha_or_space_characters(tweet)
  return remove_short_words(tweet)

In [54]:
entire_sentiment140_df[5] = entire_sentiment140_df[5].map(preprocess_tweet)
entire_sentiment140_df

         0  ...                                                  5
0        0  ...     Awww thats  bummer  You shoulda got David C...
1        0  ...   upset that  cant update his Facebook  texting...
2        0  ...    dived many times for the ball Managed  save ...
3        0  ...         whole body feels itchy and like its  fire
4        0  ...    its not behaving  all  mad why   here becaus...
...     ..  ...                                                ...
1599995  4  ...  Just woke  Having  school  the best feeling ever
1599996  4  ...  TheWDBcom  Very cool  hear old Walt interviews
1599997  4  ...  Are you ready for your MoJo Makeover Ask  for ...
1599998  4  ...  Happy  Birthday   boo  alll time Tupac Amaru S...
1599999  4  ...                           happy charitytuesday

[1600000 rows x 6 columns]

In [33]:
pip install --upgrade scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.8MB 2.7MB/s
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.17.0)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.23.2 threadpoolctl-2.1.0

In [62]:
from sklearn.utils import shuffle

entire_sentiment140_df = shuffle(entire_sentiment140_df)
entire_sentiment140_df.reset_index(inplace=True, drop=True)
entire_sentiment140_df

         0  ...                                                  5
0        4  ...   Sorry  hear that you didnt get  but congrats ...
1        0  ...                                     Working again
2        4  ...    dont have Haagen Dazs heremom said too expen...
3        0  ...  Everyone has iphones wtf All  keep seein  post...
4        4  ...   Well have  talk more about   Vegas  love  hea...
...     ..  ...                                                ...
1599995  4  ...   you should  watching weeds much more entertai...
1599996  0  ...  crap finals have actually turned  nocturnalor ...
1599997  0  ...                                      want one too
1599998  0  ...  going  watch some supernatural there  nothing ...
1599999  0  ...  Crikey  really  sick Bugger  feel like crap Wh...

[1600000 rows x 6 columns]

In [63]:
from nltk.corpus import stopwords

In [64]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

text_classifier = Pipeline([
  ('vectorizer', HashingVectorizer(stop_words=stopwords.words('english'),
                                   alternate_sign=False)),
  ('tfidf_transformer', TfidfTransformer()),
  ('classifier', MultinomialNB()),
])

In [65]:
from sklearn.model_selection import GridSearchCV

parameters = {      
  'classifier__alpha': (1e-2, 1e-3), 
}

grid_search_classifier = GridSearchCV(text_classifier, parameters, cv=5, n_jobs=-2)

In [66]:
import time

training_samples = entire_sentiment140_df.iloc[:,-1] 
training_labels = entire_sentiment140_df.iloc[:,0]
tic = time.perf_counter()
grid_search_classifier = grid_search_classifier.fit(training_samples, training_labels)
toc = time.perf_counter()
print(f"Took {toc - tic:0.4f} seconds to fit classifer on data")

Took 174.2224 seconds to fit classifer on data

In [67]:
print(f"Best score: {grid_search_classifier.best_score_}")

Best score: 0.7454725000000001

In [68]:
import pickle
with open('test_grid_search_NB_clf_sentiment140.pkl', 'wb') as f:
  pickle.dump(grid_search_classifier, f)